/*CSS do index*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* MENU HORIZONTAL DO INDEX */
.menu-topo ul {
    list-style: none;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-topo a {
    text-decoration: none;
    color: white;
    background-color: rgb(128, 128, 128);
    padding: 8px 14px;
    border-radius: 4px;
    transition: 0.3s;
    font-size: 14px;
}

.menu-topo a:hover {
    background-color: white;
    color: black;
}

/*CSS do caixa */

/*CSS dos clientes */

/*CSS do estoque*/

/*CSS dos funcionarios*/

/*CSS dos logins*/


/*CSS das vendas*/

header {
    color: #fff;
    background: linear-gradient(135deg, #363d0c);
    text-align: center;
    padding: 1rem;
    letter-spacing: 1px;
}

header h1 {
    font-size: 24pt;
}

.main {
    display: flex;
    flex: 1;           
    min-height: 100vh;    
    background-color: #f9eec3;
}

.menu-aside {
    background-color: #596031;
    padding: 2rem;
    width: 260px;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

.menu-aside a {
    text-decoration: none;
    color: #f4f4f4;
    margin-left: 12px;
    padding: 10px;
    border-radius: 4px;
    transition: 0.3s;
}

.menu-aside a:hover {
    font-weight: 300;
    color: black;
    background-color: #e0e0e0;
}

.menu-aside ul {
    list-style: none;
    padding: 0;
}

.conteudo {
    flex: 1;
    padding: 2rem;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF0F5;
}

.tabela th,
.tabela td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}


.tabela th {
    background-color: #7a44ad;
    color: white;
}

.botao-editar {
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.botao-deletar {
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.botao-editar:hover {
    color: rgb(255, 140, 0);
}

.botao-deletar:hover {
    color: rgb(255, 0, 0);
}

.botao-adicionar {
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 50px;
    background: linear-gradient(130deg, #573dff, rgb(144, 65, 155));
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s ease;
    margin: 10px auto;
    color: white;
}

.botao-adicionar:hover {
    cursor: pointer;
    transform: scale(1.05);

}